/* Media queries */
@media screen and (min-width:768px){
    .bigTitle {
        font-size: 5rem;
    }

    /* FOOTER ------------------------------ */
    .squelette {
        display :block
    }
    .copyright {
    /* pour l'afficher sur une seule ligne */
        display: inline-block;
    }
    .wrapper {
        display: grid;
        grid-template-columns: auto auto 30% auto auto auto;
        grid-template-rows: 50px 50px 50px 50px 20px;
    }
    .one {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        align-self: end;
    }
    .two {
        width: 100%;
        grid-column: 2;
        grid-row: 1 / 5;
    }
    .three {
        width: 100%;
        grid-column: 4/7;
        grid-row: 2;
        align-self: end;
    }
    .four {
    /*pour prendre 100% de la case grid */
        width: 100%;
        grid-column:4;
        grid-row: 1;
    /* aligne horizontalement à la fin */
        text-align: end;
        align-self: end;
    }
    .five {
        width: 100%;
        grid-column: 5;
        grid-row: 1;
    /* aligne horizontalement au milieu */
        text-align: center;
        align-self: end;
    }
    .six {
        width: 100%;
        grid-column: 6;
        grid-row: 1;
    /* aligne horizontalement au début */
        text-align: start;
        align-self: end;
    }
    .seven {
        grid-column: 3;
        grid-row: 1;
    /* aligne verticalement en bas */
        align-self: end;
    }
    .height {
        grid-column: 3;
        grid-row: 2;
    /* aligne verticalement au milieu*/
        align-self: center;
    }
    .nine {
        grid-column: 3;
        grid-row: 4;
        text-align: end;
    }
    .ten {
        grid-column: 3;
        grid-row: 3;
    }

/* PAGE ARTICLE 1 */
    .photoMarseille {
        max-width: 250px;
        margin: 10px;
    }

/* PAGE EN CONSTRUCTION */
    .videoSable {
        height: 250px;
    }

/* PAGE AGENDA */
    #inputCity {
        width: 100%;
    }
    .bandeauAgenda {
        height: 350px;
    }
}

@media screen and (min-width:992px){
/* J'enlève une ligne au grid et rétrécie la dernière ligne pour les écrans de plus 992px  */
    .wrapper {
        grid-template-rows: 50px 50px 50px 30px;
    }
}
