@font-face {
    font-family: 'BadScript';
    src: url('../assets/fonts/BadScript-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
/* !important pour passer par dessus les classes de Bootstrap */
    text-decoration: none!important;
    color: #222;
}

.myFont {
    font-family: 'BadScript', cursive, sans-serif;
}

/* Barre de navigation ---------------------------------------*/
.myLogo {
    width: 70px;
}

.nav-link, .dropdown-item, .grasBleu {
    color: rgb(28, 129, 168);
    font-weight: 600;
}

.nav-item {
    /* align-items: end; */
    padding: 0 18px;
}

.nav-link:hover, .dropdown-item:hover, .ouvert, a:hover {
    color: rgb(12, 9, 180);
}

/* Page d'accueil ---------------------------------------------*/
.myBg {
    background: url(../assets/img/dessinClean1.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.bigTitle {
    font-size: 4rem;
}

.grosBouton {
    padding: 15px;
    background-color: rgb(28, 129, 168);
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.grosBouton:hover {
    background-color: rgba(28, 128, 168, 0.63);
}

.petitBouton {
    padding:  2px 10px;
    background-color: rgb(28, 129, 168);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.petitBouton:hover {
    background-color: rgba(28, 128, 168, 0.63);
}

.secondTitle {
    font-size: 2rem;
    color: rgb(28, 129, 168);
    padding: 0 20px;

}

.appear, .appear2 {
    opacity: 0;
    transform: translateX(-300px);
}

.appear-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}

a {
    color: rgb(28, 129, 168);
}

.squelette {
    display: none;
}

.two {
    font-size: small;
}